@model WhatIsTheTime.Controllers.CurrentTime

@{
    ViewBag.Title = "Failback for ExplorationDays";
}

<div class="jumbotron">
    <img src="~/Content/failback.png" alt="FailBack" style="max-width: 500px"/>
    <p class="lead">Fallback to cached responses when the external api starts to fail</p>
    <p><a href="https://github.com/App-vNext/Polly" class="btn btn-primary btn-lg">Learn more about Polly &raquo;</a></p>
    <p><a href="https://github.com/Travix-International/Hystrix.Dotnet" class="btn btn-primary btn-lg">Learn more about Hystric.NET &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The current time is</h2>
        <p>
            @Model.Now
        </p>
    </div>
    <div class="col-md-4">
        <h2>It is provided by</h2>
        <p>
            @Model.Provider
        </p>
    </div>
    <div class="col-md-4">
        <h2>The circuit is </h2>
        <p>
            @Model.CircuitState
        </p>
    </div>
</div>