@model WhatIsTheTime.Models.CurrentTime

@{
    ViewBag.Title = "Failback for ExplorationDays";
}

<div class="jumbotron">
    <img src="~/Content/failback.png" alt="FailBack" style="max-width: 500px"/>
    <p class="lead">Fallback to cached responses when the external api starts to fail</p>
    <p><a href="https://github.com/App-vNext/Polly" class="btn btn-primary btn-lg">Learn more about Polly &raquo;</a></p>
    <p><a href="https://github.com/jbogard/MediatR" class="btn btn-primary btn-lg">Learn more about Mediatr &raquo;</a></p>
    <p><a href="https://launchdarkly.com/" class="btn btn-primary btn-lg">Learn more about LaunchDarkly &raquo;</a></p>
    <p><a href="https://www.asp.net/signalr" class="btn btn-primary btn-lg">Learn more about SignalR &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>The current time is</h2>
        <p>
            @Model.Now
        </p>
    </div>
    <div class="col-md-6">
        <h2>It is provided by</h2>
        <p>
            @Model.Provider
        </p>
    </div>
</div>